<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vaxnote">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".classes.VaccineNotificationHandler"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/vaxNote"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.VaxNote"

        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".activities.FutureVaccineSchedule"
            android:exported="false"
            android:parentActivityName=".activities.UserProfileDrawer"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".activities.PastRecordActivity"
            android:exported="false"
            android:parentActivityName=".activities.UserProfileDrawer"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".activities.VaccineRecord"
            android:exported="false"
            android:parentActivityName=".activities.PastRecordActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".activities.IntroductionThirdPage"
            android:exported="false" />
        <activity
            android:name=".activities.IntroductionSecondPage"
            android:exported="false" />
        <activity
            android:name=".activities.IntroductionFirstPage"
            android:exported="false" />
        <activity
            android:name=".activities.NewUserActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".activities.VacAdvisory"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".activities.MainMenuActivity"
            android:exported="true"
            android:label=""
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".activities.IconScreen"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignInActivity"
            android:exported="true"
            android:label="@string/SignInActivity" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false"
            android:label="@string/SignUpActivity" />
        <activity
            android:name=".activities.UserProfileDrawer"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
    </application>

</manifest>